p {
    color: red;

}
.smart {
    border: 1px blue solid;
    font-size:xx-large;
    background-color: white;
    color: rgb(60, 0, 128)
}

.cool {
    color: rgb(60, 0, 128);
    font-size:large;
}
body {
    background-color:rgba(0, 0, 255, 0.082);
}
